# Are your editor's temp files, OS metadata files, etc. showing up in `git
# status`? Try adding them to `$HOME/.config/git/ignore` instead.
.coverage/
coverage/
dump.rdb
node_modules/
public/tests/generated/
screenshot.png
scripts/go-script-bash/
test-config*.json
tests/bats/
tests/coverage/
tests/kcov/
tmp/
