# Are your editor's temp files, OS metadata files, etc. showing up in `git
# status`? Try adding them to `$HOME/.config/git/ignore` instead.
coverage/
dump.rdb
node_modules/
scripts/go-script-bash/
tests/bats/
tests/coverage/
tests/kcov/
tmp/
